# Spark session

In [1]:
from pyspark.sql import SparkSession

# Spark session & context
spark = (SparkSession
         .builder
         .master("local")
         .appName("load-postgres")
         # Add postgres jar
         .config("spark.driver.extraClassPath", "/home/jovyan/work/jars/postgresql-9.4.1207.jar")
         .getOrCreate())
sc = spark.sparkContext

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/11/01 03:17:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# Read Json data

In [2]:
# read the books data from internet archive
df_books = (
    spark.read
    .format("json")
    .load("/home/jovyan/work/data/ol_cdump.json")
)

# Schema for the Dataframe

In [4]:
#schema
df_books.printSchema()

root
 |-- alternate_names: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- authors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- author: struct (nullable = true)
 |    |    |    |-- key: string (nullable = true)
 |    |    |-- key: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- bio: string (nullable = true)
 |-- birth_date: string (nullable = true)
 |-- by_statement: string (nullable = true)
 |-- contributions: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- contributors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- role: string (nullable = true)
 |-- copyright_date: string (nullable = true)
 |-- covers: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- created: struct (nullable = true)
 |    |-- type: string (nullable = true)
 |    |-- value: string (nullable = true)
 |-- death_date: string (nullable = true)
 |-- description: string (nullable = true)
 |-- dewey_decimal_class: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- dewey_number: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- download_url: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- edition_name: string (nullable = true)
 |-- excerpts: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- excerpt: struct (nullable = true)
 |    |    |    |-- type: string (nullable = true)
 |    |    |    |-- value: string (nullable = true)
 |    |    |-- page: string (nullable = true)
 |-- first_publish_date: string (nullable = true)
 |-- first_sentence: string (nullable = true)
 |-- full_title: string (nullable = true)
 |-- fuller_name: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- ia_box_id: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- ia_loaded_id: string (nullable = true)
 |-- identifiers: struct (nullable = true)
 |    |-- amazon: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- amazon.co.uk_asin: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- goodreads: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- librarything: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |-- isbn_10: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- isbn_13: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- isbn_invalid: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- isbn_odd_length: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- key: string (nullable = true)
 |-- last_modified: struct (nullable = true)
 |    |-- type: string (nullable = true)
 |    |-- value: string (nullable = true)
 |-- latest_revision: long (nullable = true)
 |-- lc_classifications: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- lccn: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- links: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- type: struct (nullable = true)
 |    |    |    |-- key: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |-- location: string (nullable = true)
 |-- name: string (nullable = true)
 |-- notes: string (nullable = true)
 |-- number_of_pages: long (nullable = true)
 |-- ocaid: string (nullable = true)
 |-- oclc_number: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- oclc_numbers: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- other_titles: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- pagination: string (nullable = true)
 |-- personal_name: string (nullable = true)
 |-- photos: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- physical_dimensions: string (nullable = true)
 |-- physical_format: string (nullable = true)
 |-- publish_country: string (nullable = true)
 |-- publish_date: string (nullable = true)
 |-- publish_places: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- publishers: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- purchase_url: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- revision: long (nullable = true)
 |-- series: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- source_records: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subject_people: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subject_place: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subject_places: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subject_time: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subject_times: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subjects: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subtitle: string (nullable = true)
 |-- table_of_contents: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- class: string (nullable = true)
 |    |    |-- label: string (nullable = true)
 |    |    |-- level: long (nullable = true)
 |    |    |-- pagenum: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |    |    |-- value: string (nullable = true)
 |-- title: string (nullable = true)
 |-- title_prefix: string (nullable = true)
 |-- type: struct (nullable = true)
 |    |-- key: string (nullable = true)
 |-- uri_descriptions: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- uris: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- url: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- website: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- work_title: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- work_titles: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- works: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- key: string (nullable = true)

# No of records in Data Frame

In [5]:
# total number of records before DQC
df_books.repartition(4).count()

148163

# Data Quality Checker

In [6]:
# Quality checker and filter events
df_dqc=df_books.filter("(title is not null or length(title)>0) and number_of_pages>20 and publish_date between 1950 and current_date")

# Post DQC Count

In [7]:
# total records after the DQC filter
df_dqc.count()

76076

# Cleansed and exploded Author DF

In [8]:
# explode author and convert created_time to timestamp type

from pyspark.sql.functions import from_unixtime, col, to_timestamp
from pyspark.sql.functions import explode,regexp_replace

df_author_explode = (df_dqc
            .withColumn('created_time', to_timestamp("created.value"))
            .filter("created_time is not null")
            .select(explode("authors.key").alias("author"),"created_time","publish_date","title","number_of_pages")
            .filter("author is  NOT NULL")
            .select(regexp_replace('author', '/authors/', '').alias("author"),"created_time","publish_date","title","number_of_pages")
             )

In [28]:
df_author_explode.select("title","author","publish_date","created_time","number_of_pages").orderBy(col("publish_date").desc(),col("created_time").desc()).show(100)

+--------------------+----------+------------+--------------------+---------------+
|               title|    author|publish_date|        created_time|number_of_pages|
+--------------------+----------+------------+--------------------+---------------+
|   What's that bird?|OL1390027A|        2011|2009-02-17 21:36:...|            117|
|        Oral biology|OL7125007A|        2010|2012-05-16 07:31:...|            422|
|        Oral biology|OL5893410A|        2010|2012-05-16 07:31:...|            422|
|        Oral biology|OL7125008A|        2010|2012-05-16 07:31:...|            422|
|The Little, Brown...| OL387041A|        2010|2009-02-17 17:35:...|            965|
|The foreclosure o...|OL6569545A|        2009|2009-02-17 19:54:...|            354|
|Basic photographi...|OL6569535A|        2009|2009-02-17 19:54:...|            462|
|     Mrs Mismarriage|OL6569385A|        2009|2009-02-17 19:48:...|            239|
|          Be my baby|OL1534595A|        2009|2009-02-17 19:48:...|            263|
|  Undercover tai tai|OL6569384A|        2009|2009-02-17 19:48:...|            223|
|       Amazing Grace|OL6569383A|        2009|2009-02-17 19:48:...|            183|
|Five little white...|OL6569378A|        2009|2009-02-17 19:48:...|            160|
|Adobe Flash CS4 p...|OL1420685A|        2009|2009-02-17 19:47:...|            573|
|            Defiance| OL252648A|        2009|2009-02-17 19:46:...|            374|
|The remarkable ex...| OL241946A|        2009|2009-02-17 19:46:...|            323|
|Consumer product ...| OL239310A|        2009|2009-02-17 19:22:...|            386|
|Adult telephone p...|OL6568713A|        2009|2009-02-17 19:19:...|            514|
|        Playing bass|OL6568710A|        2009|2009-02-17 19:19:...|            169|
|       On aesthetics| OL236353A|        2009|2009-02-17 19:19:...|            204|
|Techniques for ma...| OL455032A|        2009|2009-02-17 19:19:...|            194|
|                  OM| OL721285A|        2009|2009-02-17 19:18:...|            371|
|Data, voice, and ...| OL456077A|        2009|2009-02-17 19:18:...|            324|
| Conflict resolution| OL776227A|        2009|2009-02-17 19:18:...|            336|
|Real Men Ride Horses|OL1431207A|        2009|2009-02-17 19:14:...|            150|
|Composing with Fi...| OL257613A|        2009|2009-02-17 19:13:...|            310|
|Scratch programmi...|OL1397113A|        2009|2009-02-17 19:13:...|            315|
|    Ice architecture|OL3146747A|        2009|2009-02-17 19:02:...|            173|
| Desert architecture|OL3146747A|        2009|2009-02-17 19:02:...|            173|
| Successful teamwork|OL3083513A|        2009|2009-02-17 18:57:...|            196|
|         Cashamadīda|OL6567517A|        2009|2009-02-17 18:48:...|            196|
|Hijjara wasala de...| OL178946A|        2009|2009-02-17 18:47:...|             96|
| The wandering Sufis|OL6567946A|        2009|2009-02-17 18:47:...|            267|
|Culture, polity, ...|OL6567942A|        2009|2009-02-17 18:47:...|            343|
|Fundamentals of P...|OL4675676A|        2009|2009-02-17 18:47:...|            168|
|Uttara Pūrva kā s...|OL6567528A|        2009|2009-02-17 18:32:...|            265|
|The Nyishi of Aru...|OL6567524A|        2009|2009-02-17 18:32:...|            255|
|Desī muraga walai...|OL6567517A|        2009|2009-02-17 18:31:...|            115|
|     Dhritarāshaṭara| OL108850A|        2009|2009-02-17 18:31:...|            308|
|Khataramme kalaca...| OL101982A|        2009|2009-02-17 18:31:...|            264|
|            Āsa pāsa|OL6567517A|        2009|2009-02-17 18:31:...|            176|
|Empowerment and e...|OL6567424A|        2009|2009-02-17 18:29:...|            216|
|Social justice ph...| OL309046A|        2009|2009-02-17 18:29:...|            303|
|Irish tourism, 18...|OL6546414A|        2009|2009-02-17 18:26:...|            254|
|The little digita...| OL452942A|        2009|2009-02-17 18:24:...|            223|
|Assessment of stu...| OL232163A|        2009|2009-02-17 18:22:...|            234|
|The 2008 presiden...|OL1416889A|        2009|2009-02-17 18:20:...|            174|
|Microsoft SQL ser...|OL2753073A|        2009|2009-02-17 17:34:...|            865|
|Ball, bat, and Bi...|OL6509994A|        2009|2009-02-17 17:34:...|            204|
| American government| OL383495A|        2009|2009-02-17 17:34:...|            434|
|  Stephen R. Bradley|OL4285869A|        2009|2009-02-17 17:34:...|            442|
|   Learning to teach| OL394657A|        2009|2009-02-17 17:33:...|            584|
|New Mexico & poli...| OL442202A|        2009|2009-02-17 17:33:...|            127|
|The whole damned ...|OL6504698A|        2009|2009-02-17 17:33:...|            371|
|A practical intro...| OL399129A|        2009|2009-02-17 17:32:...|            452|
|The politics of e...|OL6566677A|        2009|2009-02-17 17:30:...|            228|
|International rel...| OL939919A|        2009|2009-02-17 17:30:...|            323|
|    States of matter|OL6538270A|        2009|2009-02-17 17:30:...|             32|
|     What are taxes?|OL1433225A|        2009|2009-02-17 17:29:...|             32|
|    Chemical changes|OL6538270A|        2009|2009-02-17 17:29:...|             32|
|       Tobey Maguire| OL217609A|        2009|2009-02-17 17:28:...|             64|
|            Practice| OL235125A|        2009|2009-02-17 17:27:...|            255|
|Lengthening the a...|OL5096971A|        2009|2009-02-17 17:26:...|            318|
|The graphic desig...|OL2740054A|        2009|2009-02-17 17:26:...|            261|
|Institutions of t...|OL2695836A|        2009|2009-02-17 17:26:...|            131|
|Diversified healt...| OL413060A|        2009|2009-02-17 17:25:...|           1074|
|Do you make these...| OL533259A|        2009|2009-02-17 17:12:...|            214|
|    Lincoln's censor|OL6566437A|        2009|2009-02-17 17:11:...|            340|
|     Paint your life|OL5363039A|        2009|2009-02-17 16:02:...|            127|
|Safe overseas travel|OL2649550A|        2009|2009-02-17 15:38:...|            287|
|Intercultural com...|OL2810291A|        2009|2009-02-17 15:36:...|            400|
|Henryk Sandomiers...|OL6284982A|        2009|2009-02-16 23:24:...|            165|
|$700 billion bailout|OL2891668A|        2009|2009-02-12 12:24:...|            187|
|Anagarika's Swansong| OL207561A|        2009|2009-01-16 08:55:...|            440|
|The Anagarika's S...| OL207561A|        2009|2009-01-16 06:15:...|            440|
|    Grown up digital| OL395519A|        2009|2009-01-08 06:05:...|            368|
|The last stand of...|OL1602823A|        2009|2009-01-08 05:57:...|            353|
|   A history of food| OL668319A|        2009|2009-01-08 05:53:...|            756|
|        Uncivil wars| OL840842A|        2009|2009-01-08 05:33:...|            413|
|       Antitrust law|OL1349566A|        2009|2009-01-07 22:52:...|            926|
|     Waqʻ al-ruʼīyah|OL5093123A|        2009|2009-01-07 22:45:...|            283|
|Mawsūʻat al-zirāʻ...|OL6549503A|        2009|2009-01-07 22:45:...|            375|
|     Kitāb al-kharāj|OL4697768A|        2009|2009-01-07 22:45:...|            636|
|   Tuḥfat al-wuzarāʼ| OL175394A|        2009|2009-01-07 22:45:...|            222|
|al-Jāmiʻ li-mā yu...|OL5637053A|        2009|2009-01-07 22:45:...|            192|
|Moments of truth ...|OL6549283A|        2009|2009-01-07 22:36:...|            183|
|Primary education...|OL1525540A|        2009|2009-01-07 22:28:...|            162|
|     Beyond violence|OL1002950A|        2009|2009-01-07 22:27:...|            128|
|Indian industrial...|OL6549145A|        2009|2009-01-07 22:27:...|            899|
|   Partition stories|OL6549135A|        2009|2009-01-07 22:27:...|            263|
|    Ancient Varanasi| OL308432A|        2009|2009-01-07 22:27:...|            232|
|Craft artisans in...|OL6549123A|        2009|2009-01-07 22:27:...|            261|
|Select correspond...|OL5373542A|        2009|2009-01-07 22:26:...|            754|
|Kovidānanda--vima...|OL6549080A|        2009|2009-01-07 22:25:...|            264|
|Mānameya prakāśik...|OL6508660A|        2009|2009-01-07 22:25:...|            396|
|A história não co...|OL6549065A|        2009|2009-01-07 22:25:...|            408|
|Trouble at twilig...|OL1482819A|        2009|2009-01-07 22:23:...|             95|
|American cinema/A...| OL716743A|        2009|2009-01-07 22:05:...|            455|
|The Federal Leagu...|OL6511496A|        2009|2009-01-07 22:04:...|            362|
|   Russia since 1980| OL429428A|        2009|2009-01-07 22:04:...|            347|
|Database design a...|OL4647504A|        2009|2009-01-07 22:04:...|            762|
+--------------------+----------+------------+--------------------+---------------+
only showing top 100 rows

# First Published Author

In [263]:
str=df_author_explode.orderBy(col("publish_date").asc(),col("created_time").asc()).head().author
print(str)

OL2170249A

# Last Published Author

In [197]:
df_author_explode.orderBy(col("publish_date").desc(),col("created_time").desc()).head().author

'OL1390027A'

# Windowing to get the first and last published author each year

In [198]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number,first,last,countDistinct
windowSpec  = Window.partitionBy("publish_date").orderBy("created_time")
windowSpec1  = Window.partitionBy("publish_date").orderBy(col("created_time").desc())
df_first_last_author_year = (
    df_author_explode
                 .withColumn("fv",first("author", True).over(windowSpec))
                 .withColumn("lv",first("author", True).over(windowSpec1))
                 .select("publish_date","author","title","created_time","fv","lv")
)
df_first_last_author_year.groupBy("publish_date","fv","lv").agg(countDistinct("author")).orderBy("publish_date").show(100)

+------------+----------+----------+-------------+
|publish_date|        fv|        lv|count(author)|
+------------+----------+----------+-------------+
|        1950|OL2170249A|OL6570747A|          614|
|        1951|OL2170249A|OL6570639A|          648|
|        1952|OL6535912A|OL6570637A|          601|
|        1953|OL2261944A| OL731406A|          600|
|        1954|OL6535994A| OL120803A|          644|
|        1955| OL135548A|OL4673667A|          588|
|        1956|OL4880801A|OL6570892A|          638|
|        1957|OL1786598A| OL234204A|          705|
|        1958|OL4491638A|OL1674060A|          753|
|        1959|OL6535916A| OL367501A|          830|
|        1960|OL6314966A| OL142020A|          920|
|        1961|OL1642212A|OL6570918A|         1026|
|        1962|OL4409259A|OL2194405A|         1064|
|        1963|OL6535908A|OL4673667A|         1099|
|        1964|OL5900510A| OL409560A|         1194|
|        1965|OL5459805A|OL6561328A|         1248|
|        1966| OL133670A|OL6561385A|         1203|
|        1967|OL1101506A|OL2240161A|         1243|
|        1968| OL237227A|OL1717810A|         1082|
|        1969| OL194893A| OL262662A|         1209|
|        1970|OL6314966A| OL924364A|         1139|
|        1971| OL118656A| OL632125A|         1070|
|        1972|OL6532917A|OL4782755A|         1010|
|        1973|OL1862875A|OL5905668A|         1135|
|        1974|OL1966168A|OL6435937A|         1096|
|        1975| OL124757A|OL6570790A|          985|
|        1976| OL399601A|OL6559855A|          888|
|        1977|OL1549186A|OL1700548A|          704|
|        1978|OL2625283A|OL1818280A|          735|
|        1979| OL852416A|OL4830498A|          813|
|        1980|OL6536619A|OL1105628A|          852|
|        1981| OL586575A|OL6570930A|          812|
|        1982| OL121260A|OL6570597A|          918|
|        1983|OL4328637A| OL350149A|          967|
|        1984| OL891917A|OL6570899A|         1010|
|        1985| OL224278A|OL6570919A|          989|
|        1986|OL2855524A| OL551639A|         1080|
|        1987| OL495523A| OL333892A|         1153|
|        1988|OL6536021A| OL887425A|         1212|
|        1989|OL2818248A|OL6570897A|         1375|
|        1990| OL612871A|OL1607063A|         1593|
|        1991|OL3883486A|OL4158109A|         1537|
|        1992|OL2644643A|OL1676883A|         1731|
|        1993| OL429702A|OL1312834A|         1809|
|        1994|OL3883388A|OL6570916A|         2076|
|        1995|OL3426606A|OL1385440A|         2299|
|        1996|OL3006703A| OL449162A|         1887|
|        1997| OL551164A| OL382982A|         2100|
|        1998|OL2645102A|OL3318479A|         1932|
|        1999|OL2760532A| OL226336A|         1236|
|        2000|OL2818752A|OL2711162A|          965|
|        2001|OL3447043A|OL6570937A|          748|
|        2002|OL1480591A| OL501263A|          903|
|        2003| OL840845A|OL6570936A|         1221|
|        2004|OL1820993A|OL4899583A|         1077|
|        2005| OL341626A| OL437934A|         1140|
|        2006|OL2830780A| OL248288A|         1149|
|        2007|OL6537589A|OL4980550A|         2243|
|        2008|OL6532656A|OL2736011A|         3808|
|        2009|OL3282480A|OL6569545A|          162|
|        2010| OL387041A|OL5893410A|            4|
|        2011|OL1390027A|OL1390027A|            1|
+------------+----------+----------+-------------+

# top 5 genres with most published books

In [194]:
 from pyspark.sql.functions import translate,count,countDistinct

cleaned_books_genre_temp = (
                        df_dqc.select('title',explode("genres").alias("genr"))
                              .select("title", translate('genr','.','').alias("genre"))
                       )

cleaned_books_genre =(
                      cleaned_books_genre_temp.groupBy("genre")
                          .agg(count("title").alias("count_title"))
                          .orderBy('count_title', ascending=False).limit(5)
                      )
cleaned_books_genre.show()

+-------------------+-----------+
|              genre|count_title|
+-------------------+-----------+
|            Fiction|       3418|
|          Biography|       2792|
|Juvenile literature|       1682|
|        Exhibitions|       1152|
|   Juvenile fiction|        700|
+-------------------+-----------+

# Retrieve the top 5 authors who (co-)authored the most books

In [225]:
from pyspark.sql.window import Window
windowSpec  = Window.partitionBy("title")
df_unque_title_author = df_author_explode.select('title','author').distinct()

df_title_co_authors = (
                     df_unque_title_author
                    .withColumn("cnt",count("author").over(windowSpec))
                    .filter(col("cnt") > 1)
)

df_top_authors_co_authors = (
                                df_title_co_authors.groupBy("author")
                                .agg(countDistinct("title").alias("count_title"))
                                .orderBy('count_title', ascending=False).limit(5)
)
df_top_authors_co_authors.show()

+----------+-----------+
|    author|count_title|
+----------+-----------+
|OL4933802A|          8|
| OL283941A|          8|
| OL785848A|          7|
|OL4416445A|          6|
|OL6534774A|          6|
+----------+-----------+

# Per publish year, the number of authors that published at least one book

In [231]:
 from pyspark.sql.functions import countDistinct
df_authors_per_year = (
                        df_author_explode.groupBy("publish_date").agg(countDistinct("author"))
                       .orderBy('publish_date')
)
df_authors_per_year.show(1000)

+------------+-------------+
|publish_date|count(author)|
+------------+-------------+
|        1950|          614|
|        1951|          648|
|        1952|          601|
|        1953|          600|
|        1954|          644|
|        1955|          588|
|        1956|          638|
|        1957|          705|
|        1958|          753|
|        1959|          830|
|        1960|          920|
|        1961|         1026|
|        1962|         1064|
|        1963|         1099|
|        1964|         1194|
|        1965|         1248|
|        1966|         1203|
|        1967|         1243|
|        1968|         1082|
|        1969|         1209|
|        1970|         1139|
|        1971|         1070|
|        1972|         1010|
|        1973|         1135|
|        1974|         1096|
|        1975|          985|
|        1976|          888|
|        1977|          704|
|        1978|          735|
|        1979|          813|
|        1980|          852|
|        1981|          812|
|        1982|          918|
|        1983|          967|
|        1984|         1010|
|        1985|          989|
|        1986|         1080|
|        1987|         1153|
|        1988|         1212|
|        1989|         1375|
|        1990|         1593|
|        1991|         1537|
|        1992|         1731|
|        1993|         1809|
|        1994|         2076|
|        1995|         2299|
|        1996|         1887|
|        1997|         2100|
|        1998|         1932|
|        1999|         1236|
|        2000|          965|
|        2001|          748|
|        2002|          903|
|        2003|         1221|
|        2004|         1077|
|        2005|         1140|
|        2006|         1149|
|        2007|         2243|
|        2008|         3808|
|        2009|          162|
|        2010|            4|
|        2011|            1|
+------------+-------------+

# The number of authors and number of books published per month for years between 1950 and 1970

In [265]:
from pyspark.sql.functions import month,countDistinct
df_month_stat =  (
                 df_author_explode
                .filter("publish_date between 1950 and 1970")
                .withColumn("mon",month("created_time"))
                .groupBy("mon","publish_date").agg(countDistinct("author").alias("author_cnt")
                ,countDistinct("title").alias("title_count")).orderBy("publish_date","mon")
)
df_month_stat.show(1000)

+---+------------+----------+-----------+
|mon|publish_date|author_cnt|title_count|
+---+------------+----------+-----------+
|  1|        1950|       204|        206|
|  2|        1950|       377|        399|
|  9|        1950|         1|          1|
| 12|        1950|        39|         40|
|  1|        1951|       212|        217|
|  2|        1951|       404|        420|
|  9|        1951|         1|          1|
| 12|        1951|        37|         37|
|  1|        1952|       176|        185|
|  2|        1952|       386|        407|
| 12|        1952|        40|         41|
|  1|        1953|       210|        216|
|  2|        1953|       361|        371|
| 12|        1953|        34|         34|
|  1|        1954|       218|        220|
|  2|        1954|       381|        391|
| 12|        1954|        50|         50|
|  1|        1955|       211|        214|
|  2|        1955|       341|        357|
| 12|        1955|        40|         40|
|  1|        1956|       202|        207|
|  2|        1956|       390|        400|
| 12|        1956|        56|         56|
|  1|        1957|       227|        233|
|  2|        1957|       430|        450|
| 12|        1957|        55|         56|
|  1|        1958|       255|        265|
|  2|        1958|       443|        460|
| 11|        1958|         1|          1|
| 12|        1958|        62|         62|
|  1|        1959|       266|        276|
|  2|        1959|       491|        517|
| 12|        1959|        83|         83|
|  1|        1960|       328|        334|
|  2|        1960|       514|        537|
| 10|        1960|         1|          1|
| 12|        1960|        88|         89|
|  1|        1961|       355|        363|
|  2|        1961|       597|        619|
|  9|        1961|         1|          1|
| 12|        1961|        88|         89|
|  1|        1962|       390|        399|
|  2|        1962|       583|        613|
| 12|        1962|       107|        108|
|  1|        1963|       386|        397|
|  2|        1963|       611|        663|
| 12|        1963|       116|        116|
|  1|        1964|       432|        440|
|  2|        1964|       641|        687|
| 12|        1964|       136|        139|
|  1|        1965|       503|        514|
|  2|        1965|       609|        663|
| 12|        1965|       155|        155|
|  1|        1966|       442|        455|
|  2|        1966|       623|        656|
| 12|        1966|       163|        165|
|  1|        1967|       513|        529|
|  2|        1967|       555|        589|
| 12|        1967|       191|        193|
|  1|        1968|       437|        449|
|  2|        1968|       445|        477|
| 12|        1968|       215|        219|
|  1|        1969|       487|        494|
|  2|        1969|       501|        535|
| 12|        1969|       237|        245|
|  1|        1970|       454|        473|
|  2|        1970|       522|        546|
|  9|        1970|         1|          1|
| 12|        1970|       180|        196|
+---+------------+----------+-----------+

# max Pages per book for an author/title

In [48]:
df_max_page=df_author_explode.groupBy("author", "title").agg(max("number_of_pages").alias("number_of_pages"))

In [47]:
df_max_page.show()

+----------+--------------------+---------------+
|    author|               title|number_of_pages|
+----------+--------------------+---------------+
| OL848617A|Filosofia e polít...|            181|
| OL254163A|A dance to the mu...|            792|
|OL3249688A|Elementary linear...|            524|
|OL5012521A|             Alfalfa|            174|
| OL578182A|              Handel|             24|
| OL112923A|     Rose fairy book|            212|
|OL6321250A|Radiation effects...|            274|
|OL6533480A|Dithola Tša mahla...|             75|
|OL1225706A|Théâtre d'avant-g...|            269|
|OL6537341A|Windows, walls, b...|             69|
|OL6537462A|Comparison of pra...|            111|
|OL4395333A|        Biochemistry|            446|
|OL2896523A|    Devil's doorstep|            192|
|OL1444713A|Census of industr...|            219|
|OL4426843A|          Range camp|            155|
|OL4798258A|       Blown to hell|            186|
|OL1551147A| Havoc in the Indies|            208|
|OL4739411A|         Double take|            192|
|OL1682418A|Noriko, girl of J...|             47|
|OL4945885A|Rok 1809 [i.e. ty...|            447|
+----------+--------------------+---------------+
only showing top 20 rows

# Postgress Write Check

In [5]:
(df_movies_csv.write
 .format("jdbc")
 .option("url", "jdbc:postgresql://postgres/test")
 .option("dbtable", "public.movies")
 .option("user", "test")
 .option("password", "postgres")
 .mode("overwrite")
 .save())

In [6]:
(df_ratings_csv_fmt
 .select([c for c in df_ratings_csv_fmt.columns if c != "timestamp_epoch"])
 .write
 .format("jdbc")
 .option("url", "jdbc:postgresql://postgres/test")
 .option("dbtable", "public.ratings")
 .option("user", "test")
 .option("password", "postgres")
 .mode("overwrite")
 .save())

In [7]:
df_ratings_csv_fmt.show()

+------+-------+------+---------------+-------------------+
|userId|movieId|rating|timestamp_epoch|          timestamp|
+------+-------+------+---------------+-------------------+
|     1|      1|   4.0|      964982703|2000-07-30 18:45:03|
|     1|      3|   4.0|      964981247|2000-07-30 18:20:47|
|     1|      6|   4.0|      964982224|2000-07-30 18:37:04|
|     1|     47|   5.0|      964983815|2000-07-30 19:03:35|
|     1|     50|   5.0|      964982931|2000-07-30 18:48:51|
|     1|     70|   3.0|      964982400|2000-07-30 18:40:00|
|     1|    101|   5.0|      964980868|2000-07-30 18:14:28|
|     1|    110|   4.0|      964982176|2000-07-30 18:36:16|
|     1|    151|   5.0|      964984041|2000-07-30 19:07:21|
|     1|    157|   5.0|      964984100|2000-07-30 19:08:20|
|     1|    163|   5.0|      964983650|2000-07-30 19:00:50|
|     1|    216|   5.0|      964981208|2000-07-30 18:20:08|
|     1|    223|   3.0|      964980985|2000-07-30 18:16:25|
|     1|    231|   5.0|      964981179|2000-07-30 18:19:39|
|     1|    235|   4.0|      964980908|2000-07-30 18:15:08|
|     1|    260|   5.0|      964981680|2000-07-30 18:28:00|
|     1|    296|   3.0|      964982967|2000-07-30 18:49:27|
|     1|    316|   3.0|      964982310|2000-07-30 18:38:30|
|     1|    333|   5.0|      964981179|2000-07-30 18:19:39|
|     1|    349|   4.0|      964982563|2000-07-30 18:42:43|
+------+-------+------+---------------+-------------------+
only showing top 20 rows

DataFrame[userId: string, movieId: string, rating: double, timestamp_epoch: string, timestamp: timestamp]